{% extends "base.html" %}

{% block title %}Messages{% endblock %}

{% block content %}
    <h1 class="mt-5">Post a Message</h1>
    <form method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" id="title" placeholder="Write a title...">
        </div>
        <p></p>
        <div class="form-group">
            <textarea class="form-control" name="content" placeholder="Write a content..." required></textarea>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Post Message</button>
    </form>
    <div class="messages mt-5">
        <h2>Current Messages</h2>
        {% for message in messages %}
            <div class="card mb-3">
                <div class="card-header d-flex align-items-center">
                    <img src="{{ url_for('static', filename='profile_images/' ~ message.profile_image) }}" alt="Profile Image" class="img-thumbnail" width="50" height="50" style="border-radius: 50%;">
                    <div class="ml-3">
                        <h5 class="card-title mb-0">{{ message.username }}</h5>
                        <small class="text-muted">{{ message.location }}</small>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text"><span style="color:darkolivegreen;font-weight:bold;font-size: 20px;">{{ message.title }}</span> <p></p> {{ message.content }}</p>
                    <small class="text-muted">{{ message.created_at }}</small>
                    <p>{{ message.reply_count }} {{ message.reply_count == 1 and "reply" or "replies" }}</p>
                    <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-chat-square"></i>View Replies</a>
                    {% if session.user_id == message.user_id or session.role in ['moderator', 'admin'] %}
                        <form method="post" action="#" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this message?')">Delete</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
