{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<h1 class="mt-5">Register</h1>
<form method="post">

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{ username or '' }}" required>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
  </div>
  <p></p>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="{{ email or '' }}" required>
  </div>
  <p></p>

  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" value="{{ first_name or '' }}" required>
  </div>
  <p></p>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{ last_name or '' }}" required>
  </div>
  <p></p>

  <div class="form-group">
    <label for="birth_date">Date of Birth</label>
    <input type="date" class="form-control" id="birth_date" name="birth_date" value="{{ date_of_birth or '' }}"
      required>
  </div>
  <p></p>

  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" id="location" name="location" value="{{ location or '' }}" required>
  </div>
  <p></p>

  <button type="submit" class="btn btn-primary">Register</button>
</form>

{% endblock %}