{% extends "base.html" %}
{% block content %}

{% if session.user_id %}
<p></p>
<!-- Flash messages section -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div>
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<!-- Display welcome message if user is logged in -->
<h1>Welcome back, {{ session.username }}!</h1>
<p style="font-size: 30px;"><a href="/messages">View Messages</a></p>

<!-- Display message if user is not logged in -->
{% else %}
<div class="hometitle1">
  <p>Welcome to Tree Tiffs</p>
</div>
<div class="hometitle2">
  <p>This forum is members only. Please Sign up to start sharing your tree tiffs!</p>
</div>

<div class="msg">{{ msg }}</div>
{% endif %}


{% endblock %}